<h2>Users list</h2>

{{#each titlesFromDB}}
<li><a href="/user/title-details/{{this._id}}">{{this.title}}</a>
  <form action="/user/delete/{{this._id}}" method="post"><button>X</button></form>
</li>
{{/each}}